.status-chip {
    padding: 3px 10px 5px;
    font-size: 0.9vw;
    border-radius: 100px;
    color: white;

    &.checked {
        background-color: var(--color-light-blue);
    }
    &.done {
        background-color: var(--color-done);
    }
    &.pending {
        background-color: var(--color-yellow);
    }
    &.agreed {
        background-color: var(--color-green);
    }
    &.rejected {
        background-color: var(--color-red);
    }
}