$border: 4px solid;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 430px;
}

.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: $border;
    border-color: var(--color-blue) var(--color-blue) transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    &::after, &::before {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: $border;
        border-color: transparent transparent var(--color-red) var(--color-red);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
    }

    &:before {
        width: 2.6vw;
        height: 2.6vw;
        border-color: var(--color-blue) var(--color-blue) transparent transparent;
        animation: rotation 1.5s linear infinite;
    }
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      