@import './reset.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-white: rgba(0, 0, 0, 0.05);
  --color-main: rgba(243, 244, 246, 1);
  --color-blue: rgba(17, 81, 115, 1);
  --color-light-blue: rgba(98, 190, 210, 1);
  --color-red: rgba(231, 81, 81, 1);
  --color-green: rgba(98, 210, 162, 1);
  --color-yellow: rgba(255, 163, 62, 1);
  --border-radius: 10px;
  --border: 2.5px solid var(--color-blue);

  --shadow-down: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  --shadow-right: 2px 0px 10px 1px rgba(0, 0, 0, 0.05);

  color: var(--color-blue);
  background-color: var(--color-main);
}

.logo path {
  fill: #e75151;
}

.App {
  margin: 70px 0 0 80px;
  padding: 30px 30px 0;
}

button, a {
  cursor: pointer;
}

input {
  padding: 10px 16px 10px 10px;
  height: 17px;
  border-radius: var(--border-radius);
  border: var(--border);
  margin-bottom: 0;
  width: calc(100% - 26px);
  cursor: pointer;
  background-color: var(--color-main);
  color: var(--color-blue);
  font-weight: bold;
}

input:active, input:focus {
  outline: inherit;
  border: inherit;
}

input::placeholder {
  color: var(--color-blue);
  font-weight: normal;
}