.AdminPage {
    padding: 19px 30px 10px;
    height: 65vw;
    background-color: white;
    margin-top: 1.3vw;
    border-radius: var(--border-radius);
    .AdminPage_navigation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
        gap: 25px;
        .button {
            width: 100%;
            &.secondary {
                background-color: white;
            }
            &.icon {
                border: var(--border);
                width: 10vw;
            }
        }
    }
}